<mat-toolbar color="accent" class="navbar">
  <mat-toolbar-row>
    <div class="nav-buttons">
      <a href="/products" color="primary" mat-raised-button class="nav-button">
        Products
      </a>
      <a href="/cart" color="primary" mat-raised-button class="nav-button"
        >Cart</a
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container text-center headline">
  <h1>Amazing Animal Paintings</h1>
  <h3>Make your home a special place with our beautiful and unique artwork.</h3>
</div>

<router-outlet></router-outlet>
